<ul id="menu-accordeon">
  <li>
    <a href="#">Folder 1</a>
    <ul>
      <li>
        <a>Project 1</a>
      </li>
      <li><a routerLink="create">file 1</a></li>
      <li><a routerLink="create">Project 2</a></li>

      <li><a routerLink="create">Project 3</a></li>
      <li><a routerLink="create">Project 4</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Folder 2</a>
    <ul>
      <li>
        <a href="#">Project 1</a>
      </li>

      <li><a routerLink="create">Project 2</a></li>
      <li><a routerLink="create">Project 3</a></li>
      <li><a routerLink="create">Project 4</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Folder 3</a>
    <ul>
      <li><a routerLink="create">Project 1</a></li>
      <li><a routerLink="create">Project 2</a></li>
      <li><a routerLink="create">Project 3</a></li>
      <li><a routerLink="create">Project 4</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Folder 4</a>
    <ul>
      <li><a routerLink="create">Project 1</a></li>
      <li><a routerLink="create">Project 2</a></li>
      <li><a routerLink="create">Project 3</a></li>
      <li><a routerLink="create">Project 4</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Folder 5</a>
    <ul>
      <li><a routerLink="create">Project 1</a></li>
      <li><a routerLink="create">Project 2</a></li>
      <li><a routerLink="create">Project 3</a></li>
      <li><a routerLink="create">Project 4</a></li>
    </ul>
  </li>
</ul>
